<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>

    <connectionStrings>
        <add name="TravelAgencyDb"
             connectionString="Server=your_server;Database=your_db;User Id=your_user;Password=your_password;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>



